// Main Sass file
// This file compiles to app.css

// File Imports

@use 'variables' as *

body
  background-color: white
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif
  color: black

h1, h2, h3, h4, h5, p
  margin: 0

hr
  height: 1px
  margin: 30px 0
  border: none
  background-color: #3b3c3d

a
  color: dodgerblue // TEMP

// Visually hidden, but still exists on page
// https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html

.visually-hidden:not(:focus):not(:active)
  clip: rect(0 0 0 0)
  clip-path: inset(50%)
  height: 1px
  overflow: hidden
  position: absolute
  white-space: nowrap
  width: 1px

// Header

header
  padding-top: 20px
  user-select: none

.logo-lines
  width: auto
  height: auto
  float: left
  margin-left: -2px // Ensure lines start offscreen

.logo-line-shape
  height: 2px
  margin: 2px 0
  border-radius: 10px

.logo-line-shape#line-1
  width: $logo-line-base + $logo-line-extend-3
  background-color: $spectrum-1
.logo-line-shape#line-2
  width: $logo-line-base + $logo-line-extend-2
  background-color: $spectrum-2
.logo-line-shape#line-3
  width: $logo-line-base + $logo-line-extend-1
  background-color: $spectrum-3
.logo-line-shape#line-4
  width: $logo-line-base + $logo-line-extend-0
  background-color: $spectrum-4
.logo-line-shape#line-5
  width: $logo-line-base + $logo-line-extend-1
  background-color: $spectrum-5
.logo-line-shape#line-6
  width: $logo-line-base + $logo-line-extend-2
  background-color: $spectrum-6
.logo-line-shape#line-7
  width: $logo-line-base + $logo-line-extend-3
  background-color: $spectrum-7

img.logo-text
  display: block
  width: auto
  height: 29px
  position: relative
  left: 6px // Distance between lines and text

// Main

main
  padding: 20px

// Footer

footer
  padding: 20px
