body {
  padding: 20px;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  color: black;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

hr {
  height: 1px;
  margin: 30px 0;
  border: none;
  background-color: #3b3c3d;
}

a {
  color: dodgerblue;
}

img.logo {
  display: block;
  width: 200px;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
