// About

@use 'mixins' as *;

img.headshot {
  display: block;
  float: right;
  width: 150px;
  margin: 20px 10px 20px 40px; // spacing for text flow
  border-radius: 50%; // create rounded image

  @include width-xs {
    float: none;
    margin: 0 auto 20px auto; // spacing for text flow, mobile centering, retains bottom margin
  }
}
