// General

@use 'variables' as *;

* {
  box-sizing: border-box;
}
body {
  background-color: #101010;
  font-family: 'Inter', -apple-system, sans-serif;
  color: white;
}
h1, h2, h3, h4, h5, p, ul {
  padding: 0; // Remove default padding
  margin: 0; // Remove default margin
}
h2 {
  margin: 20px 0;
  font-size: 32px;
  letter-spacing: -0.5px;
  font-weight: 700;
}
p {
  width: 100%;
  margin: 0 0 20px 0;
  font-size: 18px;
  line-height: 24px;
  color: #dadada; // TEMP: create variable
}
a {
  color: $highlight;
}
ul {
  margin: 12px 0;
  list-style-type: none;
}
::selection {
  color: white;
  background-color: $highlight;
}

// Visually hidden, but still exists on page
// https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
