// Main

@use 'variables' as *;
@use 'mixins' as *;

main {
  padding: 0 20px;
}

section {
  width: 100%;
  padding-bottom: 12px;
}

.project-image {
  display: block;
  max-width: 100%;
  width: 100%; // fallback
  margin: 20px auto;

  &.border {
    border: 1px solid $dark-gray-2;
  }
  &.inflation-station {
    width: 50%;
  }
  &.lumics1 {
    max-width: 500px; // half width for high dpi
  }
  &.lumics2 {
    max-width: 280px; // half width for high dpi
  }
}
