// Main

@use 'variables' as *;
@use 'mixins' as *;

main {
  padding: 0 20px;
}

section {
  width: 100%;
  padding-bottom: 12px;
}

.projects figure {
  width: fit-content;
  margin: 0 auto 20px auto;

  img {
    display: block;
    max-width: 100%;
    width: 100%;
    user-select: none;
  }
  figcaption {
    margin-top: 10px;
    user-select: none; // no highlight
    cursor: default; // no text select
  }
  &.inflation-station-branding img {
    max-width: 400px;
  }
  &.lumics-branding img {
    max-width: 500px;
  }
  &.lumics-sidebar img {
    max-width: 280px;
  }
}
