// Main

main {
  padding: 0 20px;
}

section {
  width: 100%;
  padding-bottom: 12px;
  border-bottom: 1px solid #222;
}

img.headshot {
  display: block;
  width: 150px;
  margin: 0;
  clip-path: polygon(0 0, 0 70%, 30% 100%, 100% 100%, 100% 30%, 70% 0);
}
