// Skills

@use 'variables' as *;

section.skills li {
  display: inline-block;
  padding: 6px 12px;
  margin: 1px;
  background-color: $dark-gray-1; // fallback
  text-shadow: 0 0.5px 3px rgba(black, 0.33);
  cursor: default;
  transition: background-color 0.16s ease-in;
}

section.skills {
  li.skill-html:hover        { background-color: $skill-html; }
  li.skill-css:hover         { background-color: $skill-css; }
  li.skill-sass:hover        { background-color: $skill-sass; }
  li.skill-javascript:hover  { background-color: $skill-javascript; }
  li.skill-ruby:hover        { background-color: $skill-ruby; }
  li.skill-react:hover       { background-color: $skill-react; }
  li.skill-aurelia:hover     { background-color: $skill-aurelia; }
  li.skill-node:hover        { background-color: $skill-node; }
  li.skill-express:hover     { background-color: $skill-express; }
  li.skill-mongodb:hover     { background-color: $skill-mongodb; }
  li.skill-rubyonrails:hover { background-color: $skill-rubyonrails; }
  li.skill-postgresql:hover  { background-color: $skill-postgresql; }
  li.skill-git:hover         { background-color: $skill-git; }
  li.skill-uiuxdesign:hover  { background-color: $skill-uiuxdesign; }
  li.skill-branding:hover    { background-color: $skill-branding; }
  li.skill-liquid:hover      { background-color: $skill-liquid; }
  li.skill-shopify:hover     { background-color: $skill-shopify; }
  li.skill-statamic:hover    { background-color: $skill-statamic; }
}
