// Variables

// Colors

$spectrum-1: #FF3365;
$spectrum-2: #E72CF7;
$spectrum-3: #9100FF;
$spectrum-4: #105BFF;
$spectrum-5: #0094F7;
$spectrum-6: #00CCCC;
$spectrum-7: #11E27A;

$highlight: $spectrum-4;

// Logo Line Lengths

$logo-line-base: 10000px;
$logo-line-extend-0: 0px;
$logo-line-extend-1: 0.5px;
$logo-line-extend-2: 2px;
$logo-line-extend-3: 5.5px;
