// Variables

// Colors

$spectrum-1: #FF3365;
$spectrum-2: #E72CF7;
$spectrum-3: #9100FF;
$spectrum-4: #105BFF;
$spectrum-5: #0094F7;
$spectrum-6: #00CCCC;
$spectrum-7: #11E27A;

// Logo Line Lengths

$logo-line-base: 10000px;
$logo-line-extend-0: 0px;
$logo-line-extend-1: 0.5px;
$logo-line-extend-2: 2px;
$logo-line-extend-3: 5.5px;

// Skills

$skill-html: #E44D27;
$skill-css: #215EAA;
$skill-sass: #BF4080;
$skill-javascript: #D4B732;
$skill-ruby: #930E04;
$skill-react: #2DA4C4;
$skill-aurelia: #653D9A;
$skill-node: #3D863C;
$skill-express: #3A4854;
$skill-mongodb: #023430;
$skill-rubyonrails: #D30002;
$skill-postgresql: #336791;
$skill-git: #F54D27;
$skill-uiuxdesign: #005CFF;
$skill-branding: #00B400;
$skill-liquid: #0C83CD;
$skill-shopify: #95BF47;
$skill-statamic: #FE259E;
